/*Author: Etienne Richart*/

:root {
    /*Pallete #5 Audacious and Vibrant from https://visme.co/blog/website-color-schemes/*/
    --orange-main: tomato;
    --blue-main: #3FEEE6;
    --blue-sec: #55BCC9;
    --blue-ter: #97CAEF;
    --blue-quar: #CAFAFE;
}

* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blue-main);
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    position: relative;
}

header, footer {
    background-color: var(--orange-main);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

h1 {
    color: black;
    max-width: 60vw;
    width: 60vw;
    font-size: 4em;
}

header > div {
    max-width: 38vw;
    width: 38vw;
    justify-self: flex-end;
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    justify-content: space-between;
}

header > div > form {
    align-self: flex-end;
    margin-right: 13px;
    margin-top: 5px;
}

header > div > form > label {
    color: black;
}

input {
    border-radius: 3px;
}

nav > ul {
    list-style-type: none;
    margin-right: 10px;
}

nav > ul > li {
    background-color: var(--blue-ter);
    float: left;
    text-align: center;
    border: solid 2px var(--orange-main);
    border-bottom: none;
    width: 50%;
    padding: 3px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

li > a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
}

li:hover > a{
    color: white;
}

#astronautsTab:hover {
    background-color: var(--blue-main);
}

#missionsTab:hover {
    background-color: var(--blue-main);
}

h2 {
    text-decoration: underline;
    margin-left: 3vw;
}

section {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding-top: 20px;
    max-width: 100vw;
    overflow-x: hidden;
}

#example {
    display: block;
}

#exampleContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

#exampleSelection {
    display: flex;
    flex-flow: row wrap;
    justify-items: flex-start;
    justify-content: space-evenly;
}

#exampleSelection > div {
    background-color: var(--blue-ter);
    color: black;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

#exampleSelection > div.active{
    background-color: var(--blue-sec);
    color: white;
    font-weight: bolder;
}

#exampleSelection > div:hover{
    background-color: var(--blue-quar);
    color: black;
}

#exampleGraphs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    max-height: calc(60vh + 4vh);
    overflow-y: hidden;
}

.rev {
    flex-flow: column-reverse nowrap !important;
    justify-content: flex-end !important;
}

#exampleGraphs > * {
    z-index: -1;
    width: 100%;
    max-height: 60vh !important;
}

#exampleGraphs * {
    max-height: 50vh;
    max-width: clamp(800px, 80vw, 2000px);
}

#astronauts, #missions, #graphing {
    flex-direction: column;
}

#graphing {
    padding-bottom: 5vh;
}

.rawHeader {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
}


/* some of the button styling from https://codepen.io/zeynepozdem/pen/yLymeja?editors=0110*/
.rawHeader > button {
    margin-right: 10vw;
    font-size: 1em;
    background-color: var(--blue-quar);
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    color: var(--blue-sec);
    padding: 0.5em 1em;
    border-radius: 1em;
}

button, label {
    transition: all 0.1s ease-in-out;
}

.rawHeader > button:hover {
    color: var(--orange-main);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.rawHeader > button:active {
    color: var(--orange-main);
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.raw > table {
    max-height: 50vh;
    overflow: hidden;
}

.table-wrapper {
    position:relative;
    padding: 2vw;
    max-height: calc(50vh + 2vw);
    overflow: hidden;
}

.table-scroll {
    overflow: auto; 
    max-height: 50vh; 
}

.table-scroll, .table-wrapper {
    transition: max-height 0.25s ease-in;
}

table {
    min-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: right;
}

tbody > tr {
    background-color: #ddd;
}

tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-scroll tbody > tr:hover {
    background-color: var(--blue-ter);
    color: whitesmoke;
}

th {
    font-weight: bolder;
    position: sticky;
    top: -1px;
    background-color: darkgray;
    color: white;
}

th, td {
    padding: 5px;
    white-space: nowrap;
}

.hide, .hide > div{
    max-height: 0px;
}

section > form {
    padding: 1.5vw 2vw;
    padding-bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    align-content: space-around;
    transition: transform 0.3s ease-in;
}

section > form > input {
    visibility: hidden;
}

section > form > label, section > form > button {
    margin-top: .5vw;
    user-select: none;
    background-color: var(--blue-ter);
    color: black;
    border-radius: 25px;
    padding: .7em 1.5em;
    cursor: pointer;
    font-size: unset;
    font-family: "Times New Roman", Times, serif;
}

input[type="checkbox"]:checked + label {
    background-color: var(--blue-sec);
    color: white;
}

.otherLabels {
    background-color: var(--blue-sec);
    color: white;
    margin-left: 13px;
}

label.otherLabels > select {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

label.otherLabels {
    cursor: unset;
    max-height: 40.365px;
}

.moveRight {
    transform: translateX(110vw);
}

.hideColumn {
    display: none;
}

#where {
    text-align: left;
}

#whereWrapper {
    margin: 1vw 6vw 2vw 6vw;
    min-width: calc(100% - 12vw);
    padding: 0;
    max-height: unset;
}

.header {
    display: flex;
    flex-flow: column wrap;
}

.header select {
    min-width: min(90%, 380px);
}

option {
    font-size: unset;
    font-family: "Times New Roman", Times, serif;
}

.header label {
    display: inline-block;
    min-width: 20vw;
    margin-left: calc(6vw - 20px);
}

.header ~ button {
    background-color: var(--blue-quar);
    border-radius: 25px;
    height: 40.375px;
    color: var(--blue-sec);
    font-size: unset;
    font-family: "Times New Roman", Times, serif;
    margin: 0 30%;
    cursor: pointer;
}

section > div > h3 {
    margin-left: 5vw;
}

.buttonHover:hover {
    background-color: var(--orange-main) !important;
    color: white;
}

.buttonHoverHead {
    background-color: var(--blue-sec) !important;
    cursor: pointer;
}

.buttonHoverHead:hover {
    background-color: var(--blue-main) !important;
    color: white;
}

.buttonHover:active {
    opacity: 1;
    background-color: var(--orange-main) !important;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}

#search {
    width: 25vw;
}

footer {
    padding: 1em 0;
    justify-content: flex-start;
    background-color: black;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
}
footer > h1 {
    font-size: clamp(2em, 5vw, 4em);
}
footer > * {
    width: 25%;
    color: white;
}

.footCol {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
}

div > h3 {
    margin-bottom: 0.5em;
}

div > p {
    text-align: center;
}

.fa-github, .fa-book {
    font-size: 90px !important;
}

.footCol a {
    color: var(--orange-main);
}

.footCol a:hover {
    color: var(--blue-main);
}

.lCol {
    border-left: none;
}

.nCol {
    border: none;
}

.B {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    min-height: 36px;
    align-items: center;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

.B > input:nth-of-type(1):checked ~ select {
    display: block;
}

.B > input:nth-of-type(2):checked ~ input:nth-of-type(3) {
    display: block;
}

.hideIn {
    display: none;
    margin-left: auto;
}

.More {
    position: relative;
}

.moreSelector {
    margin-right: 50px;
}

.More > i {
    position: absolute;
    font-size: 20px;
    top: calc(50% - 10px);
    right: 0.3em;
    color: black;
}

.More > i:hover {
    color: var(--orange-main);
}

#autoContainer ~ input, #autoContainer input{
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
}

#autoContainer ~ input[type=button] {
  background-color: var(--blue-main);
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  left: 56.5px;
  top: 22px;
  width: 25vw;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  color: black;
  width: 25vw;
}

.autocomplete-items>div:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: var(--blue-ter);
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--blue-main) !important;
  color: #ffffff;
}

#autoContainer {
    position: relative;
}

.chart-container .ct-bar {
    stroke: var(--blue-sec) !important;
    fill: var(--blue-sec);
    stroke-width: 5px;
}

#list {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: space-between;
    align-items: baseline;
    max-width: 100vw;
    overflow-x: hidden;
    padding-top: 0;
}

#list::before {
    content: " ";
    width: 100%;
    background-color: var(--blue-quar);
    height: 20px;
    margin-bottom: 5px;
}

#listContainer {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#listContainer > div {
    background-color: var(--blue-quar);
    border-radius: 25px;
    margin: 2.5%;
    min-width: 20%;
    padding: 12px;
}

#orderContainer {
    min-width: 40%;
    margin-top: 1vw;
    margin-right: 3vw;
    transform: translateY(5px);
}

#name, #year {
    float: left;
    width: 49%;
    background-color: var(--blue-ter);
    cursor: pointer;
    padding: .2em 0;
}

#name:hover, #year:hover {
    background-color: var(--blue-sec);
    color: white;
}

#name {
    text-align: right;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 1%;
}

#year {
    text-align: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 1%;
}

.active {
    background-color: var(--orange-main) !important;
    color: white;
}

.hold {
    background-color: var(--blue-quar) !important;
}

header > a {
    text-decoration: none;
}

.help {
    margin-bottom: 5vh;
    flex-flow: column wrap;
}
.help > pre, .help > .row {
    margin-top: 10px;
    margin-left: 5vw;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: 5vw;
}

#whereWrapper ~ .chart-container {
    padding-bottom: 40px;
}

#profile {
    flex-direction: column;
}

#profile > h2 > span {
    position: relative;
}

#profile img {
    position: absolute;
    top: 150%;
    left: clamp(105%, 100vw - 100%, 170%);
    width: min(30%, 300px);
}

#profile > table {
    margin: 10px 0 20px 5vw;
    border: none;
    min-width: 0;
    width: 40%
}

#profile a {
    color: var(--blue-quar);
}

#profile a:visited {
    color: var(--blue-sec);
}

#profile a:hover {
    color: var(--orange-main);
}

#profile > h2:first-of-type {
    margin-top: 0;
}

#profile > h2 {
    margin-top: 7px;
    text-decoration: none;
}

#profile * {
    background-color: transparent;
}

#profile > table th, #profile > table td{
    width: 20%;
    color: black !important;
    text-align: left;
}

/*https://css-tricks.com/snippets/css/make-pre-text-wrap/*/
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@media screen and (max-width: 975px) {
    header{
        flex-direction: column;
    }
    header > div {
        width: 100vw;
        max-width: unset;
        flex-flow: row-reverse wrap;
        justify-content: space-evenly;
    }

    header > div > nav {
        align-self: flex-end;
        width: 40%;
    }
}