<!--Author: Etienne Richart-->
<!DOCTYPE html>
<html lang=en>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>FMA - {{ title }} Mission Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chartist.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chart-from-api.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <a href="/"><h1>FindMyAstronaut</h1></a>
        <div>
            <form autocomplete="off">
                <label id="autoContainer" for="search">Search:
                    <input id="search" type="text" placeholder="Astronaut, Mission, Craft" name="search" />
                </label>
                <input type="button" class="buttonHoverHead" value="GO" onclick="searchSubmit()"></input>
            </form>
            <nav>
                <ul>
                    <li id="astronautsTab"><a href="/astronauts.html">Astronauts</a></li>
                    <li id="missionsTab"><a href="/missions.html">Missions</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="profile">
        <h2>{{ title }}: Missions ID-{{ id }}</h2>
        <table>
            <tr><th>Mission Year:</th><td>{{ mission_year }}</td></tr>
            <tr><th>Ascent Craft:</th><td>{{ ascent }}</td></tr>
            <tr><th>Orbit Craft:</th><td>{{ orbit }}</td></tr>
            <tr><th>Decent Craft:</th><td>{{ decent }}</td></tr>
            <tr><th>Duration:</th><td>{{ duration }}</td></tr>
            <tr><th>Combined Astronaut Extravehicular Time:</th><td>{{ combined_eva }}</td></tr>
            <tr><th>Millitary/Civillian Composition of Crew:</th><td>{{ composition }}</td></tr>
        </table>
        {% include astronauts%}
    </section>
</body>
</html>